
.bio {
  position: relative;
}


.nav {
  margin-left: 7vw;
  margin-top: 7vw;
  width: 8vw;
  height: 8vw;
}


h1 {
  margin-left: 7vw;
  margin-top: 3vw;
  margin-bottom: 4vw;
}

h2 {
  margin-left: 7vw;
  margin-bottom: 4vw;
}

p {
  margin-left: 7vw;
  width: 45vw;
  line-height: 124.5%;
}

.pinkrectangle-1 {
  width: 60vw;
  position: absolute;
  top: -12vw;
  right: -25vw;
  z-index: -1;
}

.redrectangle {
  width: 60vw;
  position: absolute;
  z-index: -1;
  top: 72vw;
  right: -16vw;
}

.greenrectangle {
  width: 60vw;
  position: absolute;
  z-index: -1;
  top: 108vw;
  left: -16vw;
}

.pinkrectangle2 {
  width: 35vw;
  position: absolute;
  z-index: -1;
  top: 164vw;
  left: 52vw;
}

.yellowrectangle {
  width: 55vw;
  position: absolute;
  z-index: -1;
  top: 191vw;
  right: -33vw;
}

.pinkrectangle {
  width: 65vw;
  position: absolute;
  z-index: -1;
  top: 242vw;
  left: 0vw;

}
