body {
  overflow-x: hidden;
}

.prebio {
  overflow-x: hidden;
}

.bio {
  position: relative;
}


.nav {
  margin-left: 7vw;
  margin-top: 7vw;
  width: 8vw;
  height: 8vw;
}


h1 {
  margin-left: 7vw;
  margin-top: 7vw;
  margin-bottom: 4vw;
}

.bio h2 {
  margin-left: 7vw;
  margin-bottom: 4vw;
  margin-top: 3vw;

}

p {
  margin-left: 7vw;
  width: 45vw;
  line-height: 124.5%;
}

.pinkrectangle-1 {
  width: 60vw;
  position: absolute;
  top: -5vh;
  right: -25vw;
  z-index: -1;
}

.redrectangle {
  width: 60vw;
  position: absolute;
  z-index: -1;
  top: 25vh;
  right: -16vw;
}

.greenrectangle {
  width: 60vw;
  position: absolute;
  z-index: -1;
  top: 50vh;
  left: -16vw;
}

.pinkrectangle2 {
  width: 35vw;
  position: absolute;
  z-index: -1;
  top: 80vh;
  left: 40vw;
}

.yellowrectangle {
  width: 50vw;
  position: absolute;
  z-index: -1;
  top: 92vh;
  right: -20vw;
}

.pinkrectangle {
  width: 70vw;
  position: absolute;
  z-index: -1;
  top: 125vh;
  left: 0vw;
}

.fotobio {
  padding-bottom: 50vw;
}

.rendphoto {
  width: 65%;
  margin-left: 30vw;
  margin-top: 30vw;
  z-index: 1;
}

.rendphoto2 {
  width: 110%;
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: -5vw;
  z-index: -1;
}

#bio1 {
  margin-left: 50vw;
  margin-top: 5vw;
}

#bio2 {
  width: 56vw;
  transform: rotate(31.1deg);
  margin-top: 25vw;
  margin-left: 45vw;
}

#bio3 {
  width: 55vw;
  margin-top: 40vw;

}
