* {
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
}

p, li {
  margin-left: 7vw;
  font-family: 'open sans';
  font-size: 13px;
  font-weight: normal;
  color: #FFFFFF;
}

h1 {
  margin-left: 7vw;
  font-family: 'open sans';
  color: #FCFC17;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-family: 'open sans';
  color: #16D41A;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20vw;
  margin-left: 7vw;
  
}

a {
  font-family: 'open sans';
  font-size: 10px;
  font-weight: bold;
  color: #000000;
}
