@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import "common.css";
@import "biography.css";
@import "pri.css";
@import "works.css";
@import "team.css";

/* общее */

p {
  font-family: 'open sans';
  font-size: 22px;
}

li {
  font-family: 'open sans';
  color: #ffffff;
  font-weight: bold;
}

h1 {
  font-family: 'open sans'
}

h2 {
  font-family: 'open sans'
}

/* навигация 768*/
/* nav {
  width: 768px;
  height: 40px;
  background-color: #fb16bb;
  position: fixed;
}

ul.nav {
  display: flex;
  padding: 0;
  justify-content: center;
  height: 40px;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
}

ul.nav:first-child {
  padding-left: 50px;
} */
