.nav__list {
  display: none;
}

@media (min-width: 768px) {

nav {
  display: inline;
  width: 100vw;
  height: 6vw;
  background-color: #fb16bb;
  position: fixed;
  z-index: 99;
}

ul.nav__list {
  display: flex;
  padding: 0;
  justify-content: center;
  height: 40px;
}

.nav__list a {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
}

/* ul.nav__list:first-child {
  padding-left: 50px;
} */

}
