.team {
  height: 155vw;
  margin-bottom: 10vw;
}

.team h2 {
  margin-top: 10vw;
}

.team__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.team__box__member {
  width: 45vw;
  height: 45vw;
  position: relative;
  flex-shrink: 0;
}

.wallpaper {
    width: 104vw;
    height: 138vw;
    position: absolute;
    /* z-index: 99; */
    top: 89vw;
}

.team__box__member img {
  position: absolute;
  width: 90%;
}

.Olesya img  {
  display: block;
  box-shadow: -8vw 11vw #FB16BB;
  position: absolute;
  right: -1vw;
  top: 2vw;
}

.Olesya a {
  margin-bottom: 10vw;
  margin-top: 44vw;
  margin-right: 63vw;
  z-index: 99;
  margin-left: 6vw;
  position: absolute;
  text-decoration: none;
}
/*
.Olesya a {
  margin-left: 7vw;
  margin-top: 4vw;
  display: inline-block;
  text-decoration: none;
}
*/

.Lilya img {
  display: block;
  box-shadow: 8vw 13vw #16D41A;
  position: absolute;
  left: 0vw;
}


.Lilya a {
  margin-left: 18vw;
  margin-top: 44vw;
  display: inline-block;
  position: absolute;
  text-decoration: none;
}


.Eva img {
  display: block;
  box-shadow: 7vw -10vw #FA1516;
  top: 58px;
  position: absolute;
  left: -3vw;
  top: 24vw;
}


.Eva a {
  margin-left: 8vw;
  margin-top: 17vw;
  position: absolute;
  text-decoration: none;
}


.Vita img {
  display: block;
  box-shadow: 6vw 9vw #FCFC17;
  position: absolute;
  top: 16vw;
  left: 2vw;
}


.Vita a {
  margin-left: 25vw;
  margin-top: 58vw;
  position: absolute;
  text-decoration: none;
}

@media (min-width: 768px) {
  .Lilya a {
    margin-left: 19vw;
  }

  .Eva a {
    margin-top: 17vw;
  }

  .Vita a {
    margin-left: 25vw;
  }
}


/* justify content */
