.pinkS {
  color: #FB16BB;
  width: 129vw;
  height: 129vw;
}

.greenS {
  color: #16D41A;
  width: 129vw;
  height: 129vw;
}

.redS {
  color: #FA1516;
  width: 129vw;
  height: 129vw;
}

.yellowS {
  color: #FCFC17;
  width: 129vw;
  height: 129vw;
}
