h2 {
margin-bottom: 4vw;
}

.works__logo-pink {
  position: relative;
  width: 100vw;
  height: 33vw;
  margin-bottom: 6vw;
  background-color: #F715B7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.works__logo-yellow {
  position: relative;
  width: 100vw;
  height: 33vw;
  margin-bottom: 6vw;
  background-color: #FCFC17;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.works__logo-green {
  width: 100vw;
  height: 33vw;
  background-color: #16D41A;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.logo1 {
  width: 25vw;
  height: 27vw;

}

.logo2 {
  width: 65px;
  height: 78px;
}

.logo3 {
  width: 79px;
  height: 80px;
}

.logo4 {
  width: 94px;
  height: 38px;
}

.logo5 {
  width: 151px;
  height: 45px;
}

.logo6 {
  width: 111px;
  height: 60px;
}

.works__posters {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.works__posters img {
  margin-bottom: 20px;
  z-index: 99;
  width: 79vw;
}

.works__rectangles {
  z-index: 1;
}

.works__rectangles img {
  position: absolute;
  width: 130vw;
  margin-top: 436vw;
  top: 100%;
  left: -13vw;
}

/* .works__rectangles img {
  position: relative;
}


.works__redrec {
  margin-left: 54vw;
  width: 60vw;
}

.works__greenrec {
  margin-top: 30vw;
  margin-left: -15vw;
  width: 55vw;
}

.works__pinkrec {
  margin-top: 30vw;
  margin-left: 40vw;
  width: 40vw;
}

.works__yellowrec {
  margin-top: 30vw;
  margin-left: -20vw;
  width: 55vw;
}

.works__redrecbaby {
  margin-top: 30vw;
  margin-left: 56vw;
  width: 60vw;
}

.works__pinkrecbaby {
  margin-top: 30vw;
  left: 75vw;
  width: 20vw;
} */
