
.works__logobox-pink {
  position: relative;
  width: 100vw;
  height: 33vw;
  margin-bottom: 6vw;
  background-color: #F715B7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.works__logobox-yellow {
  position: relative;
  width: 100vw;
  height: 33vw;
  margin-bottom: 6vw;
  background-color: #FCFC17;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.works__logobox-green {
  width: 100vw;
  height: 33vw;
  background-color: #16D41A;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.logo1 {
  width: 25vw;
  height: 27vw;

}

.logo2 {
  width: 23vw;
  height: 27vw;
}

.logo3 {
  width: 25vw;
  height: 27vw;
}

.logo4 {
  width: 37vw;
  height: 15vw;
}

.logo5 {
  width: 50vw;
  height: 15vw;
}

.logo6 {
  width: 40vw;
  height: 22vw;
}

.works__posters {
  display: flex;
  flex-direction: column;
  padding: 11vw;
}

.works__posters img:nth-child(-n+6) {
  margin-bottom: 20px;
  z-index: 99;
  width: 79vw;
}

.works__rectangles {
  position: absolute;
  width: 130vw;
  margin-top: 436vw;
  top: 100%;
  left: -13vw;
  z-index: 1;
}

.works__rectangles-ipad {
  display: none;
}

@media (min-width: 414px) {

.works__rectangles {
  margin-top: 370vw;
}

}

@media (min-width: 768px) {

  .works__logobox-pink, .works__logobox-yellow, .works__logobox-green, .works__posters {
  z-index: 88;
}

.works__posters {
  flex-direction: row;
  margin-top: 16vw;
  padding: 7vw;
  flex-wrap: wrap;
  position: relative;
}

.works__posters img:nth-child(-n+7) {
  width: 41vw;
  height: 60vw;
}

.works__rectangles {
  display: none;
}

.works__rectangles-ipad {
  display: inline;
  position: absolute;
  width: 130vw;
  margin-top: -9vw;
  top: 0%;
  left: -19vw;
  z-index: 1;
}

.works__posters img:nth-child(odd) {
  margin-right: 20px;
}

}
